body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #c2c2c2;
}

.wrapper {
    max-width: 665px;
    margin: 0 auto;
}

.card-bg {
    padding: 60px;
    position: relative;
    max-width: 100%;
    border-radius: 10px;
    padding-right: 90px;
}

.card-bg img {
    position: absolute;
    top: -20px;
    left: -60px;
    z-index: 1;
    max-width: 130px;
}

.card {
    padding: 2.1rem;
    border: 4px solid #00000087;
    font-weight: 100;
    background: rgb(250, 247, 255);
    position: relative;
    left: 40px;
    width: 100%;
}

.card .card-inner {
    margin: 0 0 0 60px;
}

.card p {
    line-height: 1.8rem;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.card span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1rem 0 0 0;
}

@media (max-width: 750px) {
    body {
        margin: 1rem;
    }

    .card-bg {
        width: auto;
    }

    .card-bg img {
        position: static;
        margin: 0 auto;
        display: block;
    }

    .card {
        position: static;
        left: 0;
        width: auto;
    }

    .card .card-inner {
        margin: 0;
    }
}

.footer{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 55px;
}
.f-footer{
    color: black;
    padding: 30px;
}
 
/* scroll bar */

::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(44, 44, 44); 
   
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(82, 82, 82); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #747474; 
  }